# dotfiles
**/.env*
**/.user.yml
**/.ruff_cache
w
# python build and cache artifacts
**/.venv*
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.egg-info
**/build/
**/dist/

# tool artifacts
**/*dagster_home*/*
.mkdocs/site
.mkdocs/docs/modules
logs/

# exceptions
!.env.example
!**/.gitkeep
!**/.gitignore
!**/dagster.yaml