
.*
!.env.example
secrets.toml

**/__pycache__/
**/*.py[cod]
**/*$py.class
logs/
*.egg-info
**/build/
**/dist/
key_vault/


!.helm/
!.gitignore
!.dockerignore
!.vscode/

**/uv.lock
**/dagster_home/*


# dbt targets and deps

docs/site/*