# dotfiles
.*
!.helm/
!.gitignore
!.dockerignore
!.vscode/
!.env.example

# python build and cache artifacts
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.egg-info
**/build/
**/dist/
**/uv.lock
**/dagster_home/*

# tool artifacts
logs/
docs/site