
.*
secrets.toml
**/__pycache__/
**/*.py[cod]
**/*$py.class
logs/
*.egg-info
**/build/
**/dist/
uv.lock

dbt/dbt_internal_packages
dbt/dbt_packages
dbt/target
dbt/logs
dbt/package-lock.yml
dbt/state/**

!dbt/state/manifest.json